<!DOCTYPE html>
<html>
<head>
	<title>Pragprog Books Online Store</title>
	<%= stylesheet_link_tag "application" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tag %>
</head>
<body class="<%= controller.controller_name %>">
	<p class="alert"><%= alert %></p>
	<div id="banner">
		<%=link_to 'Регистрация', new_user_registration_path %>
		<%=link_to 'Войти', new_user_session_path%>
		<%= image_tag("logo.png") %>
		<%= @page_title || "Pragmatic Bookshelf" %>
	</div>
	<div id="columns">
		<div id="side">
			<div id="cart">
				<% if !@cart.nil? %>
					<%= hidden_div_if(@cart.line_items.empty?, id: 'cart') do %>
						<%= render @cart %>
					<% end %>
				<% end %>
			</div>
			<ul>
				<li><a href="http://www....">Home</a></li>
				<li><a href="http://www....">Questions</a></li>
				<li><a href="http://www....">News</a></li>
				<li><a href="http://www....">Contac</a></li>
			</ul>
		</div>
		<div id="main">
			<%= yield %>
		</div>
	</div>
</body>
</html>